html
  box-sizing: border-box
*,*::after,*::before
  box-sizing: inherit
img
  max-width: 100%
  height: 100%
a
  text-decoration: none
body
  background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(160,160,160,1) 85%)
  font-family: 'Arial'

.main
  background: linear-gradient(180deg, rgba(232,230,231,1) 80%, rgba(171,170,171,1) 100%)
  max-width: 1100px
  display: flex
  justify-content: center
  flex-direction: column
  margin: 0 auto
  transition: transform ease .4s

.title
    font-size: 40px
    font-weight: 400
    color: #000
    margin-bottom: 12px
    @media (max-width: 900px)
      font-size: 32px
    @media (max-width: 500px)
      font-size: 24px
td
  vertical-align: middle
  border-bottom: 1px solid #ccc

.container
  display: block
  margin: 0 auto
  width: 1000px
  @media (max-width: 1000px)
    width: 100%
    padding: 0 10px
.wrapper
  display: flex
  justify-content: center
  margin: 0 auto
  max-width: 1100px

@import 'blocks/popup'
@import 'blocks/header'
@import 'blocks/slider'
@import 'blocks/desc-company'
@import 'blocks/block-portfolio'
@import 'blocks/breadcrumbs'
@import 'blocks/fasade'
@import 'blocks/articles'
@import 'blocks/footer'
@import 'blocks/contacts'
@import 'blocks/catalog-stone'
@import 'blocks/stone-page.sass'
@import 'blocks/services'



/* popup start */
.popup-order
  position: fixed
  z-index: 10
  top: 0
  left: 0
  background: rgba(0,0,0,.7)
  width: 100%
  height: 100%
  overflow: auto
  pointer-events: none
  opacity: 0
  visibility: hidden
  &.is-active
    pointer-events: auto
    opacity: 1
    visibility: visible
  &__wrapper
    display: table
    height: 100%
    width: 100%
  &__inner
    display: table-cell
    vertical-align: middle
    padding: 50px 0
  &__content
    background: #fff
    padding: 70px 20px
    max-width: 730px
    margin: 0 auto
    position: relative
    border-radius: 20px
  &__content--fluid
    padding-left: 0
    padding-right: 0
  &__content--centered
    display: flex
    flex-direction: column
    align-items: center
  &__btn-close
    position: absolute
    top: 20px
    right: 20px
  &__title
    margin-bottom: 20px
  &__subtitle
    margin: 0
    text-align: center
    font-size: 24px
  &__subtitle--order
    max-width: 360px
    margin: 0 auto 40px
  &__mobile-menu
    margin-bottom: 30px
  &__phone
    margin-bottom: 30px
  &__link
    text-decoration: none
    color: inherit
    white-space: nowrap

//@media (max-width: 767px)
//.popup__inner
//  padding: 0
//.popup__content
//  max-width: 100%
//  min-height: 100vh
//  border-radius: 0
//  padding-top: 100px
//.popup__subtitle
//  font-size: 18px
//.popup__subtitle--order
//  max-width: 260px
/* popup end */



//product page
.product-page
  padding: 32px 0 46px 0
.product
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    @media (max-width: 1000px)
      flex-direction: column
      align-items: center
  &__img
    position: relative
    display: flex
    margin-right: 32px
    width: 50%
    @media (max-width: 1000px)
      width: auto
      margin-right: 0
      margin-bottom: 32px
    & > img
      object-fit: cover
      width: 324px
      height: 324px
      @media (max-width: 416px)
        height: 340px
        width: 100%
      @media (max-width: 340px)
        height: 280px
  &__discount
    padding: 5px 15px
    position: absolute
    top: 10%
    font-size: 14px
    color: #fff
    background-color: #be0000
  &-table
    font-size: 12px
    text-align: center
    width: 100%
    @media (max-width: 370px)
      font-size: 10px
    &__title
      padding: 14px 0
      text-align: center
      background-color: #eeeeee
    &__size,&__prices, &__availability, &__btn
      padding: 10px 0
    &__btn
      & > button
        padding: 6px 16px
        background: linear-gradient(180deg, rgba(255,223,113,1) 0%, rgba(255,197,11,1) 75%)
        font-size: 14px
        font-weight: 600
        border: 1px solid red
        border-radius: 5px
        @media (max-width: 400px)
          padding: 4px 10px
          font-size: 12px
    &__price_new
      font-weight: 600
      color: #be0000
    &__price_old
      text-decoration: line-through
  &-slider__title
    display: flex
    align-items: center
    justify-content: center
    color: #000
    text-align: center
    font-size: 26px
    margin-bottom: 26px
    @media (max-width: 1200px)
      font-size: 24px
    @media (max-width: 900px)
      font-size: 24px
    &::before
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-right: 10px
      @media (max-width: 760px)
        display: none
    &::after
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-left: 10px
      @media (max-width: 760px)
        display: none





.gallery-of-works
  padding: 40px 0 40px 0
  background: url("../img/gallery-of-works/stone-bg-3.jpg") 0 0 repeat-y
  background-size: contain
  margin-bottom: 24px
  &__title
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      text-align: center
      font-size: 28px
      margin-bottom: 32px
      @media (max-width: 1200px)
        font-size: 24px
      @media (max-width: 900px)
        font-size: 24px
      &::before
        content: ''
        display: inline-block
        background-color: #fff
        width: 70px
        height: 1px
        margin-right: 10px
        @media (max-width: 760px)
          display: none
      &::after
        content: ''
        display: inline-block
        background-color: #fff
        width: 70px
        height: 1px
        margin-left: 10px
        @media (max-width: 760px)
          display: none
  &__wrap
    display: flex
    flex-wrap: wrap
  &__link
    padding: 0 5px 10px 5px
    width: calc(100%/3)
    height: auto
    @media (max-width: 740px)
      width: calc(100%/2)
      height: 340px
    @media (max-width: 480px)
      width: 100%
  &__img
    width: 100%
    height: 100%
    object-fit: cover


//карточки
.cards
  display: flex
  flex-wrap: wrap
  margin: 0 -6px
  margin-bottom: 24px

.card
  display: flex
  justify-content: space-between
  width: calc(100%/3)
  height: 325px
  padding: 0 6px
  margin-bottom: 12px
  @media (max-width: 860px)
    height: 290px
  @media (max-width: 800px)
    width: calc(100%/2)
    height: 400px
  @media (max-width: 680px)
    height: 340px
  @media (max-width: 590px)
    height: 300px
  @media (max-width: 590px)
    height: 280px
  @media (max-width: 500px)
    padding: 0
    width: 100%
    height: 400px
  @media (max-width: 400px)
    height: 380px
  @media (max-width: 320px)
    height: 340px
  &__wrap
    width: 100%
    position: relative
    height: 100%
  &__img
    width: 100%
    height: 100%
    object-fit: cover
  &__desc
    background-color: #000
    padding: 18px 10px
    width: 100%
    min-height: 28%
    position: absolute
    bottom: 0
    opacity: .8
  &__title
    color: #fff
    font-size: 20px
    margin-bottom: 6px
  &__text
    color: #fff
    font-size: 12px
    line-height: 14px
  &__discount
    font-size: 14px
    padding: 4px 10px
    position: absolute
    top: 6%
    background-color: #be0000
    color: #fff
    & > b
      font-weight: 600
  &__price
    position: relative
    color: #fff
    font-size: 12px
    line-height: 14px
    margin-top: 8px
    & > span
      padding: 2px 6px
      margin: 0 4px
      background-color: #be0000

.portfolio-slider__wrapper > .card
    padding: 0 0
    margin-right: 15px

//menu pages
.menu-pages
  padding: 15px
  border: 2px dotted #cdaa56
  margin-bottom: 40px
  &__list
    display: flex
    flex-wrap: wrap
  &__link
    font-size: 14px
    color: #000
    padding-bottom: 2px
    border-bottom: 2px dotted #000
  &__item
    display: flex
    padding: 6px 10px
    transition: all ease .2s
    &:hover
      cursor: pointer
      background: #cdaa56
      border-radius: 10px
      & .services__menu__link
        color: #fff
        border: none




//form-message
.form-message
  &__title
    display: flex
    align-items: center
    justify-content: center
    font-size: 28px
    margin-bottom: 24px
    &::before
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-right: 20px
    &::after
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-left: 20px
  &__form
    display: flex
    flex-direction: column
    align-items: center
    & > input, textarea
      font-size: 14px
      font-style: italic
      width: 50%
      padding: 12px
      border: 2px dotted #000
      background-color: #ccc
      margin-bottom: 16px
      &:last-child
        background: linear-gradient(180deg, rgba(255,223,113,1) 0%, rgba(255,197,11,1) 75%)
        font-style: normal
        font-weight: 600
        width: 20%
        border: 1px solid red
        border-radius: 6px

//about-the-company
.about-the-company
  &__menu
    margin-top: 24px
    margin-bottom: 48px
  &__list
    display: flex
  &__item
  &__link
    margin-right: 20px
    border-bottom: 2px dotted #666
    padding: 6px 8px
    font-size: 14px
    color: #666
    &:hover
      background-color: #e0cb98
      border-radius: 10px
      color: #000
      border: none
  &__wrapper
    display: flex
    align-items: flex-start
  &__info
    margin-right: 48px
  &__text
    color: #000
    font-size: 14px
    font-weight: 400
    margin-bottom: 14px
    line-height: 18px
  &__img
    width: 250px
    height: 250px
    border-radius: 50%

//question
.question
  padding: 24px 0 24px 0
  & > .container
    @media (max-width: 1000px)
      display: flex
      justify-content: space-between
    @media (max-width: 560px)
      flex-direction: column
      align-items: center
  &__btn
    display: inline-block
    background: linear-gradient(180deg,#ffdf71 0,#ffc50b 75%)
    padding: 10px 14px
    font-size: 12px
    font-weight: 600
    border: 1px solid red
    border-radius: 4px
    @media (max-width: 560px)
      margin-bottom: 18px
      width: 80%
  &__line
      display: inline-block
      width: 410px
      height: 1px
      background-color: #333
      margin: 0 14px 0 14px
      @media (max-width: 1000px)
        display: none
  &__phone
    display: inline-block
    @media (max-width: 560px)
      text-align: center
    & > span
      margin-right: 6px
    & > a
      font-family: Georgia
      font-size: 30px
      color: #000
      @media (max-width: 560px)
        font-size: 24px
      @media (max-width: 312px)
        font-size: 18px
  
.why-choose-us
  background: url('../img/why-choose-us/bg.3.jpg') 0 0 no-repeat
  background-size: cover
  padding: 28px 0 28px 0
  &__title
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-size: 28px
    margin-bottom: 24px
    &::before
      content: ''
      display: inline-block
      background-color: #fff
      width: 70px
      height: 1px
      margin-right: 20px
    &::after
      content: ''
      display: inline-block
      background-color: #fff
      width: 70px
      height: 1px
      margin-left: 20px
  &__wrapper
    display: flex
    justify-content: space-between    
  &__item
    padding: 10px 32px
    display: flex
    align-items: center
    background-color: #000
    border: 2px dotted #cdaa55
    &__value
      font-family: Georgia
      font-size: 80px
      color: #cdaa55
      margin-right: 16px
    &__link
      color: #cdaa55
      text-decoration: underline
      margin-bottom: 2px
      font-size: 14px
      &:hover
        color: #fff
    &__info
      font-size: 14px
      color: #fff
  &__wrap
    display: flex
    flex-direction: column

//our-team
.our-team
  padding: 80px 0 0px 0
  &__title
    display: flex
    align-items: center
    justify-content: center
    color: #000
    font-size: 28px
    margin-bottom: 24px
    &::before
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-right: 20px
    &::after
      content: ''
      display: inline-block 
      background-color: #000
      width: 70px
      height: 1px
      margin-left: 20px
  &__info
    width: 540px
    margin: 0 auto
    text-align: center
    font-size: 12px
    line-height: 14px
  &__wrapper
    padding: 80px 0 24px 0
    display: flex
    flex-wrap: wrap
  &__item
    padding-left: 20px
    padding-right: 20px
    flex: 0 0 25%
    margin-bottom: 80px
    text-align: center
    &__img
      width: 200px
      height: 200px
      border-radius: 50%
      margin-bottom: 18px
    &__info
      position: relative
      padding: 12px
      border-radius: 10px
      background: #666
      width: 100%
      color: #fff
      font-size: 14px
      line-height: 16px
      &::before 
        content: '' 
        position: absolute
        left: 40px 
        top: -9px
        transform: rotate(-45deg) 
        border: 10px solid transparent  
        border-top: 10px solid #666

//service
.service
  &__item
    display: flex
    align-items: center
    margin-bottom: 40px
    @media (max-width: 770px)
      flex-direction: column
  &__img
      width: 250px
      height: 250px
      border-radius: 50%
      margin-right: 32px
      @media (max-width: 770px)
        margin-right: 0
        margin-bottom: 24px
  &__wrap
  &__text
      font-size: 14px
      line-height: 16px
  &__work
    &-title
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      font-size: 28px
      margin-bottom: 24px
      &::before
        content: ''
        display: inline-block
        background-color: #fff
        width: 70px
        height: 1px
        margin-right: 20px
      &::after
        content: ''
        display: inline-block
        background-color: #fff
        width: 70px
        height: 1px
        margin-left: 20px



//page-menu
.pages-menu
      padding: 10px 12px
      border: 2px dotted #cdaa56
      margin-bottom: 40px
      &__list
        display: flex
        flex-wrap: wrap
      &__link
        font-size: 14px
        color: #000
        padding-bottom: 2px
        border-bottom: 2px dotted #000
      &__item
        display: flex
        padding: 6px 10px
        transition: all ease .2s
        &:hover
          cursor: pointer
          background: #cdaa56
          border-radius: 10px
          & .services__menu__link
            color: #fff
            border: none



.portfolio-slider
  position: relative
  overflow: hidden
  &__btns
    position: absolute
    top: 50%
    z-index: 1
    width: 100%
    display: block
  &__btn
    background-color: #000
    opacity: .7
    border: none
    position: absolute
    margin-top: -37.5px
    height: 75px
    width: 75px
    border-radius: 50%
    transition: all ease .3s
  &__prev
    left: -37.5px
    &::after
      background: url('../icons/slider/left-arrow-white.png') 0 0 no-repeat
      content: ''
      display: block
      background-size: cover
      width: 25px
      height: 25px
      margin-left: 50%
    &:hover
      background: #ffc50b
      opacity: 1
      &::after
        content: ''
        background: url('../icons/slider/left-arrow.png') 0 0 no-repeat
        width: 25px
        height: 25px
        display: block
        background-size: cover
  &__next
    right: -37.5px
    &::before
      background: url('../icons/slider/right-arrow-white.png') center center no-repeat
      content: ''
      display: block
      background-size: cover
      width: 25px
      height: 25px
      margin-left: 15%
    &:hover
      background: #ffc50b
      opacity: 1
      &::before
        content: ''
        background: url('../icons/slider/right-arrow.png') center center no-repeat
        width: 25px
        height: 25px
        display: block
        background-size: cover
        margin-left: 15%
  &__wrapper
    margin-bottom: 30px
    margin-right: -15px
  &__slide
    margin-right: 15px
    width: 3011px
    height: 324px
    position: relative
    overflow: hidden
    &:hover .portfolio-slider__desc
      bottom: 0
    @media (max-width: 940px)
      height: 280px
  &__img
    width: 100%
    object-fit: cover
  &__desc
    position: absolute
    padding: 18px 10px
    background-color: #000
    opacity:
    width: 100%
    bottom: -100%
    opacity: .8
    transition: bottom ease .6s
  &__title
    color: #fff
    font-size: 20px
    margin-bottom: 6px
  &__text
    color: #fff
    font-size: 12px
    line-height: 14px


.fasade-article
    &__wrapper
      padding: 15px 15px 15px 20px
      border-radius: 8px
      background-color: #242424
      color: #fff
    &__title
      font-size: 30px
      margin-bottom: 20px
    &__text
      text-align: left
      font-size: 12px
      line-height: 16px
      color: #ccc
      margin-bottom: 20px
    &__list
      margin-left: 40px
      font-size: 12px
      line-height: 16px
      color: #ccc
      margin-bottom: 20px
    &__item
      list-style: circle
      margin-bottom: 12px
      list-style-image: url('../icons/fasade/marker.png')
      &:last-child
        margin-bottom: 0