/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev,
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }

#cs-prev-slider__wrapper{
	background:#000 url(../icons/slider/left-arrow-white.png) 75% center no-repeat;
	background-size: 30px 30px;
	position: absolute;
	width: 100px;
	height: 100px;
	left: -50px;
	top: 50%;
	margin-top: -50px;
	border-radius: 50%;
	transition: all ease .3s;
}
.slider__wrapper{
	position: relative;
	overflow: hidden;
}
#cs-next-slider__wrapper{
	background:#000 url(../icons/slider/right-arrow-white.png) 25% center no-repeat;
	background-size: 30px 30px;
	position: absolute;
	right: -50px;
	top: 50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transition: all ease .3s;
}
#cs-next-slider__wrapper:hover{
	background:#ffc50b url(../icons/slider/right-arrow.png) 25% center no-repeat;
	background-size: 30px 30px;
	opacity: 1!important;
}
#cs-prev-slider__wrapper:hover{
	background:#ffc50b url(../icons/slider/left-arrow.png) 75% center no-repeat;
	background-size: 30px 30px;
	opacity: 1!important;
}



