
//article
.articles
  padding: 20px 0 60px 0
  &__title
    display: flex
    align-items: center
    justify-content: center
    font-size: 28px
    margin-bottom: 24px
    &::before
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-right: 20px
    &::after
      content: ''
      display: inline-block
      background-color: #000
      width: 70px
      height: 1px
      margin-left: 20px
    @media (max-width: 890px)
      &::before
        display: none
      &::after
        display: none

  &__wrapper
    display: flex
    flex-wrap: wrap
  &__item
    padding-right: 1px
    display: flex
    width: 50%
    margin-bottom: 48px
    &:hover .articles__item__title
      color: #7f7f7f
    @media (max-width: 890px)
      padding: 4px 8px
      width: 100%
      margin-bottom: 24px
    &__img
      width: 60px
      height: 60px
      border-radius: 50%
      margin-right: 20px
    &__title
      font-size: 12px
      letter-spacing: .2px
      color: #000
      text-decoration: underline
      margin-bottom: 8px
      line-height: 14px
      @media (max-width: 890px)
        margin-bottom: 4px
    &__desc
      font-size: 12px
      color: #7f7f77
      line-height: 14px