//block-portfolio
.block-portfolio
  padding-bottom: 32px
  &__title
    position: relative
    font-family: "times new roman, sans-serif"
    font-size: 70px
    font-weight: 400
    text-align: center
    text-transform: uppercase
    color: #666
    z-index: 1000
    &::after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 1px
      background: #000
      bottom: 16%
      z-index: 10
    @media (max-width: 920px)
      font-size: 40px
  &__menu
    margin-top: 10px
    margin-bottom: 30px
  &__list
    display: flex
    justify-content: center
    @media (max-width: 329px)
      flex-wrap: wrap
  &__item
    margin-right: 40px
    @media (max-width: 420px)
      margin-right: 12px
    @media (max-width: 329px)
      margin-bottom: 12px
    &:last-child
        margin-bottom: 0
  &__link
    font-size: 14px
    padding-bottom: 4px
    color: #333
    border-bottom: 2px dotted #A06E00
    &:hover
      color: #d8aa4d
  &__btn
    font-size: 14px
    display: block
    width: 240px
    text-align: center
    margin: 0 auto
    border: 1px solid red
    border-radius: 5px
    padding: 6px 10px
    color: #000
    background-color: #ffc100
    transition: box-shadow ease .3s
    &:hover
      box-shadow: inset 0 0 10px  #eb571d

