
//breadcrumbs
.breadcrumbs
  margin: 0
  padding-top: 32px
  padding-bottom: 18px
  & li
    display: inline-block
    margin-bottom: 8px
    &::before
      content: '>'
      margin-right: 8px
      margin-left: 8px
      color: #7f7f7f
    &:first-child::before
      margin-right: 0
      margin-left: 0
      content: ''
    & > a
      font-size: 12px
      color: #5d5d5d
      border-bottom: 1px solid #5d5d5d
      transition: color ease .1s
      &:hover
        color: #cdaa56
        border-bottom: 1px solid #cdaa56
