.catalog-stone
  margin-bottom: 24px
  &__info
    font-size: 14px
    color: #000
    line-height: 16px
    margin: 30px 0
  &__wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    display: flex
    position: relative
    width: 235px
    height: 385px
    margin-bottom: 20px
    @media (max-width: 970px)
      width: 30%
    @media (max-width: 700px)
      width: 48%
    @media (max-width: 560px)
      width: 100%
    &-img
      width: 100%
      object-fit: cover
    &-name
      padding: 10px 15px
      position: absolute
      opacity: .8
      background-color: #000
      width: 100%
      height: 20%
      bottom: 0
      font-size: 18px
      color: #fff