//contacts
.contacts
  margin-bottom: 30px
  &__map
    border: 1px solid red
    height: 400px
    margin-bottom: 24px
  &__info
    margin-bottom: 20px
    &+&
      padding-bottom: 30px
      margin-top: 20px
      border-bottom: 1px solid #000
    &__text
      color: #666
      font-size: 14px
      margin-bottom: 6px
      & > a
        color: #4b797a
        &:hover
          color: #ffbf00
      &:first-child
        color: #000
        font-weight: 600
