//desc-company
.desc-company
  padding: 50px 0 40px 0
  @media (max-width: 1000px)
    padding: 24px 0
  &__title
    font-size: 40px
    font-weight: 400
    letter-spacing: .8px
    color: #000
    text-align: center
    margin-bottom: 20px
    @media (max-width: 1000px)
      font-size: 32px
  &__text
    font-weight: 300
    font-size: 14px
    width: 900px
    margin: 10px auto
    padding: 0 39px 30px
    color: #000
    line-height: 1.4
    text-align: center
    @media (max-width: 1000px)
      width: 100%
      padding: 0 20px
