//fasade
.fasade
  &__title
    position: relative
    font-family: times new roman,Georgia
    font-size: 70px
    font-weight: 400
    text-align: center
    text-transform: uppercase
    color: #666
    z-index: 1000
    @media (max-width: 690px)
      font-size: 50px
    @media (max-width: 500px)
      font-size: 32px
    &::after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 1px
      background: #000
      bottom: 16%
      z-index: 10
  &__items
    display: flex
    margin-bottom: 24px
    @media (max-width: 890px)
      flex-wrap: wrap
  &__wrap
    width: calc(100% / 3)
    @media (max-width: 820px)
      width: 100%
  &__item
    padding: 30px 15px 15px 15px
    cursor: pointer
    color: #000
    transition: all ease .1s
    border-bottom: 2px solid transparent
    border-top: 2px solid transparent
    @media (max-width: 480px)
      padding: 22px 8px 8px 8px
    &:hover
      color: #fff
      background-color: #242424
      box-shadow: 0px 0px 10px #242424
      border-bottom: 2px solid #D8AA4D
      border-top: 2px solid #D8AA4D
  &__heading
    font-family: myriad pro,arial,helvetica,sans-serif
    font-size: 24px
    text-align: left
    line-height: 26px
    margin-bottom: 20px
    margin-left: 10px
    font-weight: 300
    min-height: 80px
    @media (max-width: 820px)
      min-height: auto
      margin-left: 0
    @media (max-width: 600px)
      margin-bottom: 12px
    @media (max-width: 480px)
      font-size: 20px
  &__img
    width: 100%
    height: 240px
    object-fit: cover
    @media (max-width: 820px)
      height: auto
