//footer
.footer
  padding: 40px 0 20px 0
  background-color: #e8e6e7
  &__wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 16px
    @media (max-width: 1000px)
      padding: 0 15px
    @media (max-width: 527px)
      flex-wrap: wrap
  &__contacts
    @media (max-width: 526px)
      margin-bottom: 32px
    &__tel
      margin-bottom: 14px
      & > span
        display: block
        font-size: 10px
        margin-bottom: 6px
      & > a
        font-size: 26px
        font-weight: 600
        color: #000
        margin-left: 18px
        transition: color ease .2s
        &:hover
          color: #7f7f7f
  &__adress
    font-size: 16px
    text-decoration: underline
    color: #000
    line-height: 20px
    &:hover
      color: #7f7f7f
  &__menu
    @media (max-width: 800px)
      display: none
    &__list
    &__item
      margin-bottom: 12px
    &__link
      font-size: 13px
      color: #000
      text-decoration: underline
      &::before
        content: ''
        background: url('../icons/footer/right-arrow.png') 0 0 no-repeat
        background-size: cover
        display: inline-block
        margin-right: 8px
        width: 8px
        height: 8px
      &:hover
        color: #7f7f7f
  &__social
    &__list
      display: flex
      justify-content: flex-end
      @media (max-width: 526px)
        justify-content: flex-start
    &__item
      &:last-child
        margin-left: 6px
    &__icon
      width: 32px
      height: 32px
    &__email
      margin-top: 24px
      & > span
        font-size: 10px
        text-align: right
        display: block
        margin-bottom: 12px
        @media (max-width: 526px)
          text-align: left
      & > a
        font-size: 16px
        font-weight: 600
        color: #000
        text-decoration: underline
  &__copyright
    font-size: 10px
    text-align: center
    color: #7f7f7f