//header
.header
  transition: transform ease .4s
  background: #000
  & > .container
    @media (max-width: 1000px)
      padding: 0
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    &:last-child
      margin-top: 6px
      @media (max-width: 1000px)
        margin-top: 0
        padding: 12px 0
        margin-bottom: 16px
  &__menu
    &__list
      display: flex
    &__item
      margin-right: 24px
    &__link
      font-size: 12px
      font-weight: 300
      color: #fff
      border-bottom: 2px dotted gray
      padding: 3px 5px
      transition: background ease .1s
      &:hover
        border-radius: 6px
        background-color: gray
        border-bottom: none
      &.active
        position: relative
        border-radius: 4px
        background-color: gray
        border-bottom: none
        &::after
          position: absolute
          content: ''
          border: 5px solid transparent
          border-top: 5px solid gray
          bottom: -9px
          left: 50%
          margin-left: -2.5px
          display: inline
  &__contacts
    display: flex
    align-items: center
    padding: 10px 12px
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,191,128,1) 73%)
  &__phone
    font-size: 22px
    font-weight: 600
    color: #000
    letter-spacing: 1px
  &__btn
    display: flex
    align-items: center
    background: linear-gradient(180deg, rgba(255,223,113,1) 0%, rgba(255,197,11,1) 75%)
    padding: 6px 14px
    font-size: 12px
    letter-spacing: 1px
    color: #000
    border: 1px solid red
    border-radius: 4px
    margin-right: 20px
    &::after
      content: ''
      margin-left: 6px
      display: block
      background: url('../icons/header/phone.svg') 0 0 no-repeat
      background-size: contain
      width: 18px
      height: 18px
  &__logo
    text-align: center
    color: #fff
    font-size: 43px
    &__img
      width: 240px
  &__main-menu
    &__list
      display: flex
      align-items: center
    &__item
      position: relative
      margin-right: 12px
      padding: 2px 14px 22px 14px
      font-size: 12px
      font-weight: 300
      text-transform: uppercase
      &::before
        content: ''
        margin: 5px auto
        display: block
        background: url('../icons/header/next.png') 0 0 no-repeat
        background-size: contain
        width: 16px
        height: 12px
      &:hover
        cursor: pointer
        background: #e0dedf
        & .header__main-menu__link
          color: #000
        &::before
          background: url('../icons/header/next-black.png') 0 0 no-repeat
          background-size: contain
          width: 16px
          height: 12px
    &__link
      color: #fff


@media ( max-width:  1000px)
  .header
    width: 100%
    &__menu
      display: none
    &__contacts
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      width: 100%
      background: #f2f2f2
    &__btn
      margin-bottom: 16px
      margin-right: 0
    &__phone
      font-size: 22px
      margin-bottom: 8px
    &__wrapper
      display: flex
      justify-content: center
      flex-direction: column
    &__main-menu
      display: none


//drop-down menu
.drop-down
  visibility: hidden
  opacity: 0
  position: absolute
  z-index: 2000
  top: 100%
  left: 0
  background: #e0dedf
  transition: opacity ease .3s
  &__item
    width: 220px
    text-align: left
    padding: 14px
    display: block
    &:hover
      background: #c3c1c2
  &__link
    display: flex
    align-items: center
    color: #000
    width: 100%
    height: 100%
    font-size: 12px
    text-transform: none
    &::before
      content: ''
      display: inline-block
      background: url('../icons/header/arrow-right.png') 0 0 no-repeat
      background-size: contain
      width: 8px
      height: 8px
      margin-right: 8px

.header__main-menu__item:hover .drop-down
  visibility: visible
  opacity: 1

//header mobile menu
.header
  &__mobile-menu
    display: none
    padding: 10px 10px
    width: 100%
    @media (max-width: 1000px)
      display: flex
      //justify-content: center
      align-items: center
      align-content: center
.mobile-menu
    &__checkbox
      width: 0
      height: 0
    &__btn
      position: relative
      display: flex
      flex-direction: column
      align-content: center
      justify-content: center
      align-items: center
      width: 30px
      height: 17px
      margin-right: 8px
      &::after
        position: absolute
        bottom: 0
        left: 0
        content: ""
        display: block
        width: 100%
        height: 3px
        background-color: #fff
      &::before
        position: absolute
        top: 0
        left: 0
        content: ""
        display: block
        width: 100%
        height: 3px
        background-color: #fff
      & > span
        display: block
        background-color: #fff
        width: 100%
        height: 3px
        bottom: 0
        left: 0
    &__menu
      color: #fff
      font-size: 16px
      font-weight: 600
      text-transform: uppercase

.mm
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 10
  transition: left ease .4s
  &__close
    transition: opacity ease 1.6s
    opacity: 0
    background-color: #000
    content: ''
    position: absolute
    right: 0
    top: 0
    width: 20%
    height: 100vh
    z-index: 100
  &__title
    font-size: 14px
    color: rgba(0,0,0,.3)
    text-align: center
    border-bottom: 1px solid rgba(0,0,0,0.1)
    padding: 10px
    line-height: 20px
  &__menu
    visibility: hidden
    position: absolute
    background-color: #f5f5f5
    overflow: hidden
    padding: 0 30px 0 20px
    width: 80%
    height: 100%
    opacity: 0
    transition: opacity ease .10s
    &-panel
      padding: 0 30px 0 20px
      display: block
      position: absolute
      top: 0
      left: 100%
      width: 100%
      height: 100%
    &-item
      display: flex
      justify-content: space-between
      border-bottom: 1px solid  rgba(0,0,0,0.1)
    &-link
      padding: 10px 0
      width: 100%
      display: flex
      align-items: center
      position: relative
      font-size: 12px
      color: #000
      text-transform: uppercase
      line-height: 20px
      &:hover
        color: #ddd
      &::after
        content: ''
        position: absolute
        background: url("../icons/header/nav-arrow.png") 50% 50%  no-repeat
        background-size: 12px 12px
        display: inline-block
        right: 0
        width: 15%
        height: 100%


.main-content
  background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(160,160,160,1) 85%)
  width: 100%
  left: 0
  top: 0
  position: relative
  z-index: 1000
  transition: left ease .6s
  //&::after
  //  display: block
  //  opacity: 0
  //  overflow: hidden
  //  background-color: #000000
  //  content: ''
  //  position: absolute
  //  left: 0
  //  top: 0
  //  width: 100%
  //  height: 100%
  //  z-index: 1000
  //  transition: opacity ease .6s
  //  visibility: hidden


.header-active
  //transform: translateX(80%)
  left: 80%


.scroll
  overflow: hidden
  height: 100vh

.display
  opacity: .6
  visibility: visible

.overlay
  opacity: .6
  z-index: 10000

.visibility
  opacity: 1
  visibility: visible