//Модальное окно
.popup
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  background: rgba(0,0,0,0.7)
  pointer-events: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9999
  transition: all 0.5s ease
  margin: 0
  padding: 0
  &:target
    opacity: 1
    pointer-events: auto
    overflow-y: auto
  &__overlay
    //display: flex
    //justify-content: center
    //transform: translateY(100%)
    @media (max-width: 540px)
      max-width: 500px
  &__block
    position: relative
    padding: 40px 32px
    width: 500px
    height: 300px
    border-radius: 10px
    background-color: #fff
    z-index: 9992
    @media (max-width: 540px)
      width: 400px
      height: 310px
    @media (max-width: 440px)
      width: 300px
      height: 320px
  &__text
    font-size: 14px
    color: #000000
    margin-bottom: 30px
    line-height: 16px
  &__form
    display: flex
    align-items: center
    flex-direction: column
    & > input
      display: block
      padding: 8px 6px
      border: 3px dotted #c0c0c0
      width: 100%
      background-color: #e5e5e5
      margin-bottom: 20px
      &::placeholder
        font-style: italic
      &:last-child
        padding: 10px
        font-weight: 400
        font-style: normal
        font-size: 14px
        text-transform: uppercase
        border: 1px solid red
        border-radius: 6px
        width: 70%
        background: linear-gradient(180deg, rgba(255,223,113,1) 0%, rgba(255,197,11,1) 75%)
        margin-bottom: 0
  &__btn-close
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: -18px
    right: -18px
    border-radius: 50%
    border: 6px solid #fff
    background-color: #000
    width: 42px
    height: 42px
    &:after
      position: absolute
      content: ''
      display: block
      width: 4px
      height: 22px
      border-radius: 10px
      transform: rotate(45deg)
      background-color: #fff
    &:before
      position: absolute
      content: ''
      display: block
      width: 4px
      height: 22px
      border-radius: 10px
      transform: rotate(-45deg)
      background-color: #fff
