//slider
.slider
  &__wrapper
    margin-top: 40px

.b-slider
  @media (max-width: 1000px)
    display: none

.mobile__slider
  display: none
  @media (max-width: 1000px)
    display: block
    width: 100%
    height: auto
    object-fit: cover
  & > img
    height: auto
    object-fit: cover
  &__btns
    position: absolute
    top: 50%
    z-index: 1
    width: 100%
    display: block
  &__btn
      background-color: #000
      opacity: .7
      border: none
      position: absolute
      margin-top: -37.5px
      height: 75px
      width: 75px
      border-radius: 50%
      transition: all ease .3s
  &__prev
        left: -37.5px
        &::after
          background: url('../icons/slider/left-arrow-white.png') 0 0 no-repeat
          content: ''
          display: block
          background-size: cover
          width: 25px
          height: 25px
          margin-left: 50%
        &:hover
          background: #ffc50b
          opacity: 1
          &::after
            content: ''
            background: url('../icons/slider/left-arrow.png') 0 0 no-repeat
            width: 25px
            height: 25px
            display: block
            background-size: cover
  &__next
      right: -37.5px
      &::before
        background: url('../icons/slider/right-arrow-white.png') center center no-repeat
        content: ''
        display: block
        background-size: cover
        width: 25px
        height: 25px
        margin-left: 15%
      &:hover
        background: #ffc50b
        opacity: 1
        &::before
          content: ''
          background: url('../icons/slider/right-arrow.png') center center no-repeat
          width: 25px
          height: 25px
          display: block
          background-size: cover
          margin-left: 15%
.slick-dots li button:before
  font-size: 30px

.slick-dots li
  margin: 0