.stone-page
  padding: 32px 0
  &__wrapper
    padding: 24px 0
    display: flex
    @media (max-width: 700px)
      flex-wrap: wrap
      justify-content: center
  &__img
    margin-left: 14px
    width: 250px
    height: 250px
    border-radius: 50%
    @media (max-width: 700px)
      margin-bottom: 24px
      margin-left: 0
  &__info
    margin-left: 32px
    @media (max-width: 700px)
      margin-left: 0
  &__title
  &__desc
    color: #000
    font-size: 14px
    line-height: 20px
  &__gallery
    margin-top: 42px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__gallery-link
      position: relative
      margin-bottom: 16px
      @media (max-width: 560px)
        flex-basis: 48%
      @media (max-width: 380px)
        flex-basis: 100%
  &__gallery-img
      object-fit: cover
      width: 235px
      height: 385px
      @media (max-width: 1000px)
        width: 210px
        height: 340px
      @media (max-width: 900px)
        width: 190px
        height: 300px
      @media (max-width: 820px)
        width: 160px
        height: 240px
      @media (max-width: 720px)
        width: 140px
        height: 220px
      @media (max-width: 620px)
        width: 120px
        height: 200px
      @media (max-width: 560px)
        width: 100%
        height: 360px
      @media (max-width: 490px)
        width: 100%
        height: 300px
      @media (max-width: 380px)
        width: 100%
        height: 380px
  &__gallery-name
    padding: 10px 10px
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 20%
    background-color: #000000
    opacity: .7
    font-size: 18px
    color: #fff





